[Desktop Entry]
Exec=chromium-browser --no-sandbox %u
Icon=chromium
Type=Application
Terminal=false
Name=Chromium
MimeType=text/html;
StartupNotify=true
Categories=Network;WebBrowser;
